# Python cache files
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
env/
venv/
ENV/
*.egg-info/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# IDE/Editor files
.vscode/
.idea/

# Test coverage reports
.coverage
*.cover
.hypothesis/
.pytest_cache/

